/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Products
6. Ads
7. Services
8. Facts
9. Footer
-------------------- */

/* 1 General */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Background Color */
  --primary-color: #D9B061;
  --secondary-color: rgba(242, 249, 243, 0.05);
  --bg-dark-light: #D8D0C5;
  --bg-white: #fff;
  --bg-brown: #3F0D0C;
  --bg-white-primary: #ffffff;
  --bg-black-secondry: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%);

  /* Text Style */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Josefin Sans", sans-serif;
  --primary-text: #D9B061;
  --text-lightb: #D8D0C5;
  --text-brown: #3F0D0C;
  --text-light: #ddd;
}

/* General */
html,
body {
  font-family: var(--primary-font);
  background-color: var(--bg-black-primary);
  font-size: 14px;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-light-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
 
.main-btn{
display: inline-block;
color:var(--text-brown);
text-align: center; 
padding: 0.8571rem 2.1429rem;
font-size: 1rem;
font-weight:700;
font-family: var(--secondary-font);
background: var(--primary-color);
text-transform: capitalize;
border-radius: 1.7857rem;
transition: all 0.3s ease;
}

.main-btn:hover{
background : var(--text-lightb);
box-shadow: 0 0.3571rem 1.0714rem var(--secondary-color);
transform: scale(1.05);
}

h1{
font-size:4rem;
margin-bottom: 1.25rem;
font-weight: 700;
font-family: var(--secondary-font);
}


h2{
font-size: 2.875rem;
font-weight : 700;
color: var(--text-white);
font-family: var(--secondary-font);
text-transform : capitalize;
}


h3{
font-size: 2.25rem;
font-weight : 600;
color: var(--text-white);
font-family: var(--secondary-font);
}



h4{
font-size: 1.7143rem;
font-weight : 600;
color: var(--text-white);
font-family: var(--secondary-font);
margin-bottom:1.5rem;
}



h5{
font-size: 1.2875rem;
font-weight : 600;
color: var(--text-white);
margin-bottom: 0.9375rem;
}



h6{
font-size: 1rem;
font-weight : 500;
color: var(--text-brown);
margin-bottom: 0.9375rem;
}


p{
font-size: 1rem;
font-weight: 400;
color: var(--text-brown);
line-height: 1.625rem;
}


.wrapper{
padding:5.25rem 0;
}

.wrapper .highlight{
color: var(--primary-text);
}

.section-title .title-design{
display: flex;
align-items: center;
justify-content: center;
gap: 1.0714rem;
}


.section-title .title-design .line{
width:5rem;
height:0.1429rem;
background: var(--primary-color);
}


.section-title  .title-design i{
color: var(--primary-color);
font-size: 2.1429rem;
}


.common-card{
background:var(--bg-dark-light);
border-radius: 1.0714rem;
padding: 2.1429rem;
margin-bottom: 2.1429rem;
border: 0.0714rem solid var(--bg-black);
transition : transform 0.3s ease;
}


.common-card .card-icon{
  width:4.2857rem;
  height: 4.2857rem;
background: var(--primary-color);
border-radius: 50%;
display: flex;
align-items : center;
justify-content : center;
margin-bottom:  1.4286rem;
}



.common-card  .card-icon i{
font-size: 1.4286rem;
}



/* NAVBAR */

.header_wrapper .navbar{
padding: 0.9375rem 0;
background-color: var(--text-lightb);
transition: 0.3s ease-in-out;
}

.header_wrapper .navbar-toggler{
border:0;
color: var(--text-brown);
line-height : 2;
}


.header_wrapper  .navbar-toggler:focus{
box-shadow: none;
}


.header_wrapper  .nav-item{
margin:0 0.625rem;
}


.header_wrapper  .nav-item  .nav-link{
font-size: 1rem;
font-family: var(--secondary-font);
font-weight: 500;
text-transform: uppercase;
color: var(--text-white);
display: inline-block;
}

.header_wrapper  .nav-item  .nav-link.active, 
.header_wrapper  .nav-item  .nav-link:hover{
color:var(--primary-text);
}

.header_wrapper .nav-item .main-btn {
  font-size: 1rem;
  padding: 0.5714rem 1.7143rem;
}

.main-btn .swing{
animation:shake 1s ease infinite;
}

@keyframes shake{
0%,
100%{
transform: rotate(0deg);
}
20%,
60%{
transform: rotate(-10deg);
}
40%,
80%{
transform: rotate(10deg);
}
}

.navbar.header-scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0.5084rem 1.1419rem  2.5rem  0  rgb(0 0 0 / 8%) ;
  transition : 0.3s ease-in-out;
}


/* TOP VERTICAL TEXT */

.banner_wrapper{
background-color: var(--bg-black);
position: relative
}

.vertical-text{
  position: absolute;
  right: 3.2143rem;
  top: 40%;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: right;
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-text);
  opacity: 1.1;
  text-transform: uppercase;
  white-space: nowrap;
  pointer-events: none;
}

.banner_wrapper p{
  max-width: 80%;
  color: var(--text-brown);
  margin-bottom: 1.5rem;
}

.hero-badges{
display: flex;
gap : 1rem;
margin-top: 1.5rem;
}

.hero-badges .badge{
display: inline-flex;
align-items: center;
gap: 0.5rem 1rem;
background: var(--bg-brown);
padding: 0.5rem 1rem;
border-radius: 1.4286rem;
font-size: 1.1429rem;
}

.hero-badges .badge i{
color: var(--primary-text);
}



/* About */


/* Products */

.products_wrapper .card{
background: var(--bg-dark-light);
border-radius: 1.0714rem;
box-shadow: 0 0.7143rem 1.4286rem rgba(0,0,0,0,2);
height: 100%;
transition: transform 0.3s ease;
}

.products_wrapper .card :hover{
transform: translateY(-0.7143rem);
}

.products_wrapper .card .product-img{
width: 100%;
height: 100%;
}

.products_wrapper .card p{
color: var(--bg-brown);
text-transform: uppercase;
font-weight: 700;
}

.products_wrapper .common-card :hover{
transform: translateY(-0.7143rem);
border-color: var(--primary-color);
}

/* Ads */

.ads_wrapper .card{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
padding: 2.8571rem;
background-color: var(--secondary-color);
}

.ads_wrapper .ad-image img{
max-width: 100%;
height: auto;
transform: scale(1.1);
transition: transform 0.3s ease;
}

.ads_wrapper .discount{
font-size: 3rem;
font-weight: 800;
color: var(--primary-color)
}


/* Services */

.services_wrapper{
background: var(--bg-black-secondary);
}

.services_wrapper .common-card{
min-height: 17.8571rem;
height:100%
}

.common-card:hover{
transform: translateY(-0.7143rem);
border-color: var(--primary-color);
}


/* Facts */

.facts_wrapper .common-card{
border: 0.0714rem solid var(--bg-black);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.facts_wrapper .common-card:hover{
transform: translateY(-0.7143rem);
border-color: var(--primary-color);
}

.facts_wrapper .fact-icon{
font-size: 2.5rem;
color: var(--primary-color);
margin-bottom: 1.5rem;
position: relative;
}

.facts_wrapper p{
color: var(--text-white);
font-weight:600;
text-transform: uppercase;
}


/* Footer */

.footer_wrapper{
  background: var(--bg-black-secondary);
}

.footer_wrapper ul li{
  margin-bottom: 0.5rem;
  list-style: none;
  font-style: 0.875rem;
}

.footer_wrapper .contact-info li a{
  color: var(--text-brown);
}

.footer_wrapper .link-widget li a,
.footer_wrapper p{
  color: var(--text-brown);
  font-size: 1rem;
  padding-left: 1.5rem;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a::before{
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover{
  margin-left: 0.625rem;
  color: var(--primary-text);
}

.footer_wrapper .form-control{
  border-radius: 1.7857rem;
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--text-light);
}

.footer_wrapper ::placeholder{
  color: var(--text-light);
}

.footer_wrapper .form-control :focus{
  outline: none;
  box-shadow: none;
}

.footer_wrapper .input-group :hover .form-control{
  border-color: var(--bg-white);
}

.footer_wrapper .input-group :hover .main-btn{
  border-color: var(--bg-white);
  background: var(--bg-white);
}

.footer_wrapper .social-network a{
  width: 3.5714rem;
  height: 3.5714rem;
  background: var(--bg-white);
  margin: 0.5rem;
  font-size: 1.4286rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid var(--primary-color);
  color: var(--primary-text);
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .copyright-section{
  background: var(--bg-dark-light);
  padding: 2rem 0 1rem;
  text-align: center;
}

.footer_wrapper .copyright-section a{
  color: var(--text-brown);
  font-weight: 600;
}